/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body{
    font-family: 'Open Sans Condensed', sans-serif;
}

.container{
    width: 80%;
    margin: auto;
    text-align: center;
}

a{
    text-decoration: none;
    color: white;
}

li{
    list-style-type: none;
}

.light{
    color: black;
    background-color: white;
}

.dark{
    color: white;
    background-color: #23272a;
}

.light-blue{
    color: white;
    background-color: #8ea1e1;
}

/* HEADER */
header{
    background-color: #3161e0;
    width: 100%;
    height: 100px;
    line-height: 100px;
}

.col{
    float: left;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.logo{
    width: 25%;
}

.logo img{
    display: inline-block;
    vertical-align: middle;
}

.menu-navigation{
    width: 50%;
}

.login{
    width: 25%;
}

.menu-navigation{
    text-align: center;
}

.menu-navigation ul li{
    display: inline-block;
    margin: 0 20px;
}

.menu-navigation ul li a{
    display: inline-block;
    border-radius: 26px;
}

.login a{
    padding: 8px 15px;
    border-radius: 16px;
}

/* MAIN */
.banner{
    background-image: url(../img/jumbo.png);
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Va bene anche con il padding */
.description{
    width: 36%;
    margin: auto;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

p{
    line-height: 30px;
    font-size: 20px;
}

h1,
h2{
    font-size: 60px;
    margin: 20px 0;
}

.description a{
    margin: 20px;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 26px;
}

span{
    font-weight: 700;
    font-size: 18px;
}

/* SECTION */
section{
    width: 100%;
    margin: 130px 0;
    padding: 60px 0;
}

main section:nth-child(3),
main section:nth-child(5){
    background-color: lightgrey;
}

main section:last-child{
    margin-bottom: 0;
}
.sect-1,
.sect-2,
.sect-3{
    text-align: left;
}

.image{
    width: 45%;
    margin: 0 90px;
}

.text-image{
    width: 25%;
}

.sect-2{
    position: relative;
    left: 10%;
}

.image-text-center{
    width: 58%;
    margin: auto;
}

.download-mac a{
    margin: 20px;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 26px;
}

.download-mac h3{
    font-size: 40px;
    background-image: url(../img/stars.svg);
    background-position: top;
    padding: 20px 0;
    background-repeat: no-repeat;
}

/* FOOTER */
footer{
    background-color: #23272a;
}

.footer{
    text-align: left;
    padding: 80px 0 15px 0;
    border-bottom: 1px solid #7289da;
}

.first{
    width: 24%;
}

.first img{
    width: 25px;
}

.first h3{
    font-size: 40px;
}

.second, .third, .fourth, .fifth{
    width: 14%;
}

.title{
    color: #7289da;
}

 .list li{
    margin: 10px 0;
}

.logo-btn{
    line-height: 100px;
}

.footer-logo{
    width: 50%;
    text-align: left;
}

.footer-logo img{
    vertical-align: middle;
}

.footer-btn{
    width: 50%;
    text-align: right;
}

.footer-btn a{
    padding: 8px 15px;
    border-radius: 20px;
}

#choice{
    color: white;
}

#choice-entity{
    font-size: 10px;
    vertical-align: 4px;
}
.language{
    margin: 20px 0;
}
.language img{
    vertical-align: middle;
}

.social-icon a{
    font-size: 20px;
    margin-right: 25px;
}